*,
*:before,
*:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
*, *::after, *::before {
  box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  font-size: 30px;
/*   background: white; */
animation: color 5s infinite;
}
img {
  max-width: 100%;
  /*если вертикал не прописывать, то 4px снизу добавляет отступ от картинки, так как картинка как текст прописана, не блочная, если сделать картинку блочной, то 4px уберутся*/
  vertical-align: middle;
}
.logo {
  width: 200px;
}
.logo a {
  display: block;
}
.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background: white;
  font-size: 20px;
}
#header {
  display: flex;
  align-items: center;
  background: #d3b714;
  width: 100%;
  padding: 10px;
}
#nav {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: stretch;
}
.menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.menu li {
  margin: 0 0 0 10px;
}
a {
  text-decoration: none;
  color: black;
}
footer {
  position: fixed; /* Фиксированное положение */
  left: 0; bottom: 0; /* Левый нижний угол */
  padding: 10px; /* Поля вокруг текста */
  background: #86ec86; /* Цвет фона */
  color: black; /* Цвет текста */
  width: 100%; /* Ширина слоя */
  text-align: center;
}
#main {
  display: flex;
  height: 1000px;
}
#content {
  display: flex;
}
#sidebar {
  display: flex;
  width: 210px;
  align-items: stretch;
  justify-content: center;
  order: -1;
  background: #c798b9;
  padding: 10px;
}
#right-sidebar {
  display: flex;
  justify-content: center;
  width: 210px;
  order: 1;
  background: #9cb1c7;
  padding: 10px;
}
.box1 {
  display: flex;
  padding: 10px;
}
p {
  text-align: center;
}
.sidebar {
  flex: 0 0 200px;
  content-box: ;
}